.iniciativas{
    &__slider{
        .slider-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            margin-bottom: 20px;
            h2{
                margin: 0;
            }
            .slider-controls{
                display: flex;
                gap: 8px;
                >div{
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: $primary-color;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    &:hover{
                        background-color: $primary-color-dark;
                    }
                }
            }
        }
    }
    &__list{
        display: flex;
    }
    &__item{
        max-width: fit-content;
        padding: 0px;
        box-shadow: 0 0 22px -5px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        img{
            width: 100%;
            border-radius: 4px;
        }
        &__info{
            padding: 15px;
            h3{
                position: relative;
                display: inline-flex;
                padding-bottom: 5px;
                margin-bottom: 15px;
                &::after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $primary-color-dark;
                }
            }
            p{

            }
        }
    }
    .info-residencial{
        &__wrapper{
            display: flex;
            align-items: stretch;
            gap: 20px;
            @include mq(md, max){
                flex-direction: column;
            }
            >div {
                flex: 1;
                display: flex;
                justify-content: center;
                text-align: center;
                flex-direction: column;
                color: $color-white;
                background-color: $primary-color-dark;
                border-radius: 4px;
                gap: 10px;
                padding: 20px;
                transition: all .3s ease-in-out;
                cursor: pointer;
                
                &:hover{
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
                }
                i{

                }
                h3{
                    font-size: 18px;
                    font-weight: 700;
                }
                p{
                    font-size: 20px;
                    
                    small{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}